@font-face {
    font-family: SUNN;
    src: url(../fonts/SUNN.otf) format('opentype');
}

html{
    background: url("../img/login-background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #023E54;
}

body{
    background-color: transparent;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}
input.ng-valid.ng-touched {
    border: 1px solid green;
}
.ng-invalid .btn, .ng-invalid .btn:hover {
    background: gray;
}

.error {
    color: red;
    padding-bottom: 10px;
    font-size: 13px;
}
.myForm .page-header{
    text-align: center;
}
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.coverer h1{
    font-family: SUNN;
    font-size: 5em;
    font-weight: 100;
    text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a {
    color: #23C1C4;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: transparent;
}
.input-group .form-control:last-child{
    border-bottom-right-radius: 0;
    border: none;
    background: none;
    border-bottom: 1px solid #FB3B6A;
}
.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.input-group-addon {
    color: #F9FCDD;
    background-color: rgba(247, 96, 129, 0.47);
    border:none;
}
input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px rgba(251, 59, 106, 0.09) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: #333;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 50px rgba(251, 59, 106, 0.09) inset;
    -webkit-text-fill-color: #333;
}
.btn[disabled]{
    cursor: default;
}
.search {
    margin-bottom: 10%;
}
.search input{
    padding: 10px 0 10px 15px;
    color: #475B62;
    background: rgba(255,255,255,0.4);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    outline: 0;
}
.filter{
    padding: 10px 0 10px 15px;
    color: #475B62;
    background: rgba(255,255,255,0.4);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    outline: 0;
}
.matches ul li{
    list-style: none;
    padding-bottom: 25px;
}