@font-face {
    font-family: SUNN;
    src: url(../fonts/SUNN.otf) format('opentype');
}

body{
    background-image: url("../img/login-background.jpg");
    background-size: cover;
    background-color: #023E54;
    background-repeat: no-repeat;
    min-height: 100%;
    height: auto;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}
input.ng-valid.ng-touched {
    border: 1px solid green;
}
.ng-invalid .btn {
    background: gray;
}
.error {
    color: red;
    padding-bottom: 10px;
    font-size: 13px;
}
.myForm .page-header{
    text-align: center;
}
.form-actions {
    margin: 0;
    background-color: transparent;
    text-align: center;
}

.container h1{
    font-family: SUNN;
    font-size: 5em;
    font-weight: 100;
    text-transform: uppercase;
}