
<div class="table-responsive">
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th></th>
            <th>
                Initials
            </th>

            <th>
                Date
            </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="item in dummyUsers" >

            <td>
                {{item.firstname}}
            </td>
            <td>
                {{item.lastname}}
            </td>
        </tr>
        </tbody>

    </table>
    </div>

