<section>
    <div class="row"
         ng-repeat="item in users | limitTo: 1">

        <div class="col-xs-offset-3 col-xs-6 col-sm-6">
            <h2>{{item.firstname}} {{item.lastname}}</h2>
            <p>Birth date: {{item.birthdate }}</p>
            <p>Email: {{item.email }}</p>
            <p>Gender: {{ item.genderSelect }}</p>
            <p>Interested in: {{ item.interestedIn }}</p>
            <p>Occupation: {{ item.occupation }}</p>
            <p>Hobby: {{ item.hobby }}</p>


            <button type="button" class="btn btn-default" aria-label="Left Align"ng-click="deleteUser(item)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true">Delete profile</span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="updateUser(item)">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true">Edit profile</span>
            </button>
        </div>
    </div>

</section>