<section>
    <form name="myform"
          ng-submit="register()"
          novalidate>

        <div>
            <h1>Fill out the following questions to continue</h1>
            <p>It will help to find better matches for you</p>
        </div>

        <fieldset>
            <input type="date" name="birthdate"
                   placeholder="Birth date"
                   ng-model="user.birthdate"
                   ng-required="true">
            <p class="error validationerror" ng-show="myform.birthdate.$invalid && myform.birthdate.$touched">
                You must fill out your birth date.</p>

            Are you:
            <input type="text" name="gender"
                   placeholder="Please choose..."
                   ng-model="user.gender"
                   ng-required="true">
            <select name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
            <p class="error validationerror" ng-show="myform.lastname.$invalid && myform.lastname.$touched">
                You must fill out your last name.</p>


            <input type="email" name="email"
                   placeholder="Email"
                   ng-model="user.email">
            <p class="error validationerror" ng-show="myform.email.$invalid && myform.email.$touched">
                This must be a valid email.</p>



            <input type="password" name="password"
                   placeholder="Password"
                   ng-model="user.password"
                   ng-minlength="6">
            <p class="error validationerror" ng-show="myform.password.$invalid && myform.password.$touched">
                Password must be at least 6 characters</p>
        </fieldset>

        <button type="submit" class="btn">Submit</button>
    </form>
</section>




<div>
    <B>I am a:...</B> <BR>
    <SELECT NAME="Gender">
        <OPTION SELECTED> Male
        <OPTION> Female

    </SELECT>

</div>



<div>
    <label  class="col-sm-2 control-label">Im interested to meet : </label>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Man
                </label>
                <label>
                    <input type="checkbox"> Woman
                </label>
                <label>
                    <input type="checkbox"> Both
                </label>
            </div>
        </div>
    </div>
</div>


<div>
    <B>Some question about myselfe.</B> <BR>
    <SELECT NAME="Question1">
        <OPTION SELECTED> Bla bala
        <OPTION> Bla balaBla balaBla balaBla balaBla balaBla bala

    </SELECT>

</div>

<div>
    <B>Some question about myselfe.</B> <BR>
    <SELECT NAME="Question1">
        <OPTION SELECTED> Bla bala
        <OPTION> Bla balaBla balaBla balaBla balaBla balaBla bala

    </SELECT>

</div>

<div>

    <B>Some question about my hobby.</B> <BR>
    <SELECT NAME="Question2">
        <OPTION SELECTED> Bla bala
        <OPTION> Bla balaBla balaBla balaBla balaBla balaBla bala

    </SELECT>
</div>

<div>
    <B>Some question about my favorite sport.</B> <BR>
    <SELECT NAME="Question3">
        <OPTION SELECTED> Bla bala
        <OPTION> Bla balaBla balaBla balaBla balaBla balaBla bala

    </SELECT>

</div>

<!--and some more of those.....-->



<button type="submit"  >

    </span>Submit</button>

</form>