<section>
    <form name="regForm" role="form"
          ng-submit="register()"
          novalidate>

        <div class="page-header">
            <h1>Register</h1>
            <p>To access site features</p>
        </div>

        <fieldset class="form-group">
            <input type="text" name="firstname" class="form-control"
                   placeholder="First Name"

                   <!--Change user.initials to user.firstname when API is working -->
                   ng-model="user.initials"
                   ng-required="true">
            <p class="error" validationerror
               ng-show="regForm.firstname.$invalid && regForm.firstname.$touched">
                You must fill out your first name.</p>
        </fieldset>

        <fieldset class="form-group">
            <input type="text" name="lastname" class="form-control"
                   placeholder="Last Name"
            <!--Change user.date to user.lastname when API is working -->
                   ng-model="user.date"
                   ng-required="true">
            <p class="error" validationerror
               ng-show="regForm.lastname.$invalid && regForm.lastname.$touched">
                You must fill out your last name.</p>
        </fieldset>

        <fieldset class="form-group">
            <input type="email" name="email" class="form-control"
                   placeholder="Email"
                   ng-model="user.email">
            <p class="error" validationerror
               ng-show="regForm.email.$invalid && regForm.email.$touched">
                This must be a valid email.</p>
        </fieldset>

        <fieldset class="form-group">
            <input type="password" name="password" class="form-control"
                   placeholder="Password"
                   ng-model="user.password"
                   ng-minlength="6">
            <p class="error" validationerror
               ng-show="regForm.password.$invalid && regForm.password.$touched">
                Password must be at least 6 characters</p>
        </fieldset>

        <button type="submit" class="btn btn-primary"
                ng-disabled="regForm.$invalid">Submit</button>
    </form>
</section>