<section>
    <form name="myform"
          ng-submit="register()"
          novalidate>

        <div>
            <h1>Register</h1>
            <p>To access site features</p>
        </div>

        <fieldset class="form-group">
            <input type="text" name="firstname"
                   placeholder="First Name"
                   ng-model="user.firstname"
                   ng-required="true">
            <p class="error" ng-show="myform.firstname.$invalid && myform.firstname.$touched">
                You must fill out your first name.</p>

            <input type="text" name="lastname"
                   placeholder="Last Name"
                   ng-model="user.lastname"
                   ng-required="true">
            <p class="error" ng-show="myform.lastname.$invalid && myform.lastname.$touched">
                You must fill out your last name.</p>


            <input type="email" name="email"
                   placeholder="Email"
                   ng-model="user.email">
            <p class="error" ng-show="myform.email.$invalid && myform.email.$touched">
                This must be a valid email.</p>



            <input type="password" name="password"
                   placeholder="Password"
                   ng-model="user.password"
                   ng-minlength="6">
            <p class="error" ng-show="myform.password.$invalid && myform.password.$touched">
                Password must be at least 6 characters</p>
        </fieldset>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</section>